.Activity .title {
  margin-top: -25px;
  margin-bottom: 0px;
}
.Activity .id {
}
.Activity .totalDistance {
  margin-bottom: 25px;
}
.mapContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  width: 50%;
  min-width: 300px;
}
