.main {
  font-size: 22px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  min-height: 600px;
  margin: 25px auto;
}
.main a {
  color: #222;
  padding: 10px;
}
.contentContainer {
  width: 90%;
  position: relative;
  right: 0;
  left: 150px;
}
