.main {
  font-size: 22px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  min-height: 600px;
  margin: 0;
  overflow: hidden;
}
.main a {
  color: #222;
  padding: 10px;
}
.sidebarContainer {
  float: left;
  width: 20%;
  position: fixed;
  height: 100vh;
  z-index: 1000;
}
.contentContainer {
  width: 80%;
  float: right;
}
