footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -75px;
  color: white;
  line-height: 75px;
  height: 75px;
  font-family: "Verdana";
  background-color: #222;
  width: 90%;
}
