.mainNav {
  margin-bottom: 25px;
  margin-left: 0;
  position: fixed;
  background-color: #222;
  width: 10%;
  height: 100%;
  z-index: 1000;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  display: inline-block;
}
